@import 'theme';
@import 'fonts';

div {
  padding: 2rem;
  background: $color3;
  h1 {
    margin: 0;
    color: $light-color;
    font-size: $h2-fontsize;
  }
  p {
    margin-bottom: 0;
    color: $light-color;
  }
}
