@import 'theme';
#table-light {
  .state-annule {
    background: $color-error;
  }
  .state-option {
    background: $color1;
  }
  .state-confirme {
    background: $color-sucess;
  }
}
app-template-b #table-light {
  .state-option {
    background: $color3;
  }
}
app-template-a #table-light {
  .state-option {
    background: $color1;
  }
}
