<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="typePresta">TypePresta</label>
      <input formControlName="typePresta" type="text" class="form-control" id="typePresta">
      <div *ngIf="form.get('typePresta').invalid && form.get('typePresta').touched" class="alert alert-danger">champ invalid</div>
    </div>
    <div class="form-group">
      <label for="client">client</label>
      <input formControlName="client"  type="text" class="form-control" id="client">
      <div *ngIf="form.get('client').invalid && form.get('client').touched" class="alert alert-danger">champ invalid</div>
    </div>
    <div class="form-group">
      <label for="nbJours">nbJours</label>
      <input formControlName="nbJours"  type="number" class="form-control" id="nbJours">
    </div>
    <div class="form-group">
      <label for="tjmHt">tjmHt</label>
      <input formControlName="tjmHt" type="number" class="form-control" id="tjmHt">
    </div>
    <div class="form-group">
      <label for="tva">tva</label>
      <input formControlName="tva" type="number" class="form-control" id="tva">
    </div>
    <div class="form-group">
      <label for="state">state</label>
      <select formControlName="state" class="form-control" id="state">
        <option *ngFor="let state of states | keyvalue" [ngValue]="state.value">{{ state.value }}</option>
      </select>
    </div>
    <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Submit</button>
  </form>
